@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {

:root  {
  --background: 262 0% 95%;
  --foreground: 262 0% 6%;
  --card: 262 0% 90%;
  --card-foreground: 262 0% 10%;
  --popover: 262 0% 95%;
  --popover-foreground: 262 95% 6%;
  --primary: 262 100% 57.1%;
  --primary-foreground: 0 0% 100%;
  --secondary: 262 10% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 224 10% 85%;
  --muted-foreground: 262 0% 35%;
  --accent: 224 10% 80%;
  --accent-foreground: 262 0% 10%;
  --destructive: 0 50% 30%;
  --destructive-foreground: 262 0% 90%;
  --border: 262 20% 50%;
  --input: 262 20% 18%;
  --ring: 262 100% 57.1%;
  --radius: 0.3rem;
}
.dark  {
  --background: 262 10% 6%;
  --foreground: 262 0% 90%;
  --card: 262 0% 6%;
  --card-foreground: 262 0% 90%;
  --popover: 262 10% 5%;
  --popover-foreground: 262 0% 90%;
  --primary: 262 100% 57.1%;
  --primary-foreground: 0 0% 100%;
  --secondary: 262 10% 10%;
  --secondary-foreground: 0 0% 100%;
  --muted: 224 10% 15%;
  --muted-foreground: 262 0% 60%;
  --accent: 224 10% 15%;
  --accent-foreground: 262 0% 90%;
  --destructive: 0 50% 30%;
  --destructive-foreground: 262 0% 90%;
  --border: 262 20% 18%;
  --input: 262 20% 18%;
  --ring: 262 100% 57.1%;
  --radius: 0.3rem;
}
}
 
@layer base {
  * {
    @apply border-border font-poppins;
  }
  body {
    @apply bg-background text-foreground;
  }
}
